@import url('../images/output-onlinepngtools.png');

*, body{
    margin: 0px;
    padding: 0px;
    /* background-color: #F6F0F0; */
}

body{
    display: flex;
    justify-content: space-between;
}
#container{
    width: 75%;
    font-family: 'Objectivity-Bold';
    color: #2D2926;
    font-size: 30px;
    /* background-image: url("https://media.giphy.com/media/qgQUggAC3Pfv687qPC/giphy.gif") !important; */
    background-image: url('../images/output-onlinepngtools.png') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    padding-left: 15px;
    /* height: 725px; */
}
#introduction>button{
    height: 50px;
    width: 120px;
    font-family: 'Objectivity-Bold';
    font-size: 16px;
    color: #2D2926;
    border: none;
    background-color: #F6F0F0;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: width 400ms;
}
#introduction>button:hover{
    background-color: #E94C3D;
    color: #F6F0F0;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 170px;
}
#introduction{
    padding-top: 200px;
    padding-bottom: 320px;
    position: relative;
}
#introduction>div{
    margin-bottom: 30px;
    font-size: 26px;
}

#introduction>img{
    position: absolute;
    right: 50px;
    top: 200px;
    width: 40%;
}

#aboutme{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
#aboutme>img{
    border-radius: 15px;
    width: 37%;    
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#aboutme>#info{
    width: 55%;
}
#info>h2{
    font-size: 30px;
}
#info>div{
    font-size: 20px;
    font-family: 'PT Root UI Bold';
    line-height: 150%;
}
#info>div>p:first-child{
    margin-bottom: 23px;
}
#info>div>p{
    margin-bottom: 10px;
}
#info>div>a>button{
    height: 50px;
    width: 130px;
    font-family: 'Objectivity-Bold';
    font-size: 16px;
    color: #2D2926;
    border: none;
    background-color: #F6F0F0;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: width 400ms;
}
#info>div>a>button:hover{
    background-color: #E94C3D;
    color: #F6F0F0;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 200px;
}

#education{
    margin-top: 200px;
    width: 90%;
}
#education>div{
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
}
#education>div>*{
    background-color: #E94C3D;
    padding: 10px 20px;
}
#education>div>p:first-child{
    border-radius: 15px 15px 0px 0px;
    font-size: 20px;
}
#education>div>p:last-child{
    border-radius: 0px 0px 15px 15px;
}
#education>div>h3{
    color: #F6F0F0;
    font-size: 32px;
}
#education>div>h3+p{
    font-size: 20px;
}
#education>div>p+p{
    font-size: 16px;
}
#education{
    margin-bottom: 70px;
}
#projects{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-bottom: 250px;
}
#projects>div{
    width: 35%;
    border: 0.1rem solid rgb(167, 161, 161);
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #E94C3D;
}
#projects>div>img{
    width: 80%;
    margin: auto;
    display: block;
    text-align: justify;
    background-color: #E94C3D;
    margin-bottom: 10px;
}
#projects>div>p{
    font-size: 18px;
    font-family: 'PT Root UI Light';
    text-align: center;
    background-color: #E94C3D;
    display: block;
    overflow: hidden;
    height: 110px;
    text-overflow: ellipsis;
}

#projects>div>div{
    background-color: #E94C3D;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#projects>div>div>button{
    width: 45%;
    height: 40px;
    font-family: 'PT Root UI Light';
    border-radius: 10px;
    transition: width 400ms;
    border: 0.1rem solid #333;
}
#projects>div>div>button:hover{
    width: 50%;
}
#education+h1{
    margin-bottom: 100px;
}
#contactme>div{
    width: 95%;
    width: auto;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
#contactme>div:first-child{
    margin-bottom: 50px;
}
#contactme>div>div{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #E94C3D;
    padding: 25px;
    border-radius: 15px;
}
#contactme>div>div>*{
    background-color: #E94C3D;
    margin-bottom: 10px;
}
#contactme>div>div>div:last-child{
    font-family: 'PT Root UI Light';
}
#contactme>div>form{
    border-radius: 15px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: #E94C3D;
    padding: 20px;
}
#contactme>div>form>*{
    margin-bottom: 10px;
    background-color: #E94C3D;
    border: none;
    height: 50px;
    padding: 10px;
    font-family: 'PT Root UI Light';
    font-size: 18px;
    border-bottom: 0.1rem solid #333;
}
#contactme>div>form>[type = "submit"]{
    width: 25%;
    border: 00.1rem solid #333;
    background-color: #F6F0F0;
    border-radius: 10px;
    transition: width 400ms;
}

#contactme>div>form>[type = "submit"]:hover{
    width: 30%;
}
#contactme>div>form>[type = "text"]:nth-child(4){
    height: 100px;
}
#contactme>div>form>input:focus{
    border: none;
    outline: none;
    border-bottom: 0.1rem solid #2D2926;
}
#mygitcalendar+h1{
    margin-top: 200px;
}
#projects+h1{
    margin-bottom: 50px;
}
#aboutme+h1{
    margin-top: 200px;
    text-align: center;
}
#myskills>ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 45px;
}
#myskills>ul>li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#myskills>ul>li>i{
    font-size: 100px;
    transition: font-size 400ms;
}
#myskills>ul>li>i:hover{
    color: #E94C3D;
    font-size: 110px;
}
#mystats+h1{
    text-align: center;
}
h1{
    text-align: center;
}
#mystats{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    gap: 20px;
    justify-content: space-around;
}
#mystats>.skills{
    padding: 20px;
}
#mygitcalendar>*{
    width: 90%;
}
#contactme{
    margin-bottom: 100px;
}
.font-h2{
    font-size: 24px;
    font-family: 'PT Root UI Medium';
}
.font-h3{
    font-size: 20px;
    font-family: 'PT Root UI Light';
}
.flex{
    display: flex;
    justify-content: space-between;
}
.bar{
    width: 100%;
    background-color: #F6F0F0;
    height: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.bar>span{
    display: block;
    height: 100%;
    background-color: #E94C3D;
    border-radius: 10px;
}
@media all and (min-width: 481px) and (max-width: 1024px) {
    #myskills>ul{
        grid-template-columns: repeat(2, 45%);
    }
    #aboutme{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    #aboutme>img{
        width: 65%;
        height: 550px;
        margin-bottom: 50px;
    }
    #aboutme>#info{
        width: 65%;
        text-align: center;
    }
    #introduction+h1{
        text-align: center;
    }
    #projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
    }
    #projects>div{
        width: 60%;
    }
    #education+h1{
        margin-bottom: 50px;
        text-align: center;
    }
    #education>h1{
        text-align: center;
    }
    #education{
        margin: auto;
        margin-top: 200px;
        margin-bottom: 70px;
    }
    #sidebar>h1{
        font-size: 24px;
    }
    #sidebar>a{
        font-size: 20px;
    }
    #sidebar>a>div{
        font-size: 20px;
    }
    #sidebar>a>div:hover{
        font-size: 24px;
    }
    #sidebar>a:hover{
        font-size: 24px;
    }
    #education>div>h3{
        font-size: 24px;
    }
    #contactme>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #projects+h1{
        text-align: center;
    }
    #contactme>div>div{
        width: 40%;
    }
    #contactme>div>div>*{
        text-align: center;
    }
    
    #introduction+h1{
        margin-top: 0px;
    }
    #contactme>div>form>[type = "submit"]{
        width: 35%;
    }
    #contactme>div>form>[type = "submit"]:hover{
        width: 45%;
    }
    #mystats{
        grid-template-columns: 75%;
    }
}

@media all and (min-width: 216px) and (max-width: 480px){
    
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #container{
        width: 95%;
    }
    #myskills>ul{
        grid-template-columns: repeat(2, 45%);
    }
    #sidebar{
        width: 0px;
        height: 0px;
    }
    #aboutme{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #aboutme>img{
        width: 75%;
        height: 450px;
        margin-bottom: 50px;
    }
    #aboutme>#info{
        width: 85%;
        text-align: center;
    }
    #introduction+h1{
        text-align: center;
        margin-top: 0px;
    }
    #projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
    }
    #projects>div{
        width: 60%;
    }
    #education+h1{
        margin-bottom: 50px;
        text-align: center;
        font-size: 42px;
    }
    #education>h1{
        text-align: center;
        font-size: 42px;
    }
    #education{
        width: 95%;
        margin: auto;
        margin-top: 200px;
        margin-bottom: 70px;
    }
    #sidebar>h1{
        font-size: 24px;
    }
    #sidebar>a{
        font-size: 20px;
    }
    #sidebar>a>div{
        font-size: 20px;
    }
    #sidebar>a>div:hover{
        font-size: 24px;
    }
    #sidebar>a:hover{
        font-size: 24px;
    }
    #education>div>h3{
        font-size: 24px;
    }
    #contactme>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #projects+h1{
        text-align: center;
        font-size: 42px;
    }
    #projects>div{
        width: 95%;
    }
    #contactme>div>div{
        width: 95%;
    }
    #contactme>div>div>*{
        text-align: center;
    }
    
    #contactme>div>form>[type = "submit"]{
        width: 50%;
    }
    #contactme>div>form>[type = "submit"]:hover{
        width: 60%;
    }
    #mystats{
        grid-template-columns: 75%;
    }
}

/* important color: 8D4B55 */
/*
F6F0F0
F6F0F0
83C1F7
*/