*, body{
    margin: 0px;
    padding: 0px;
    /* background-color: #ecc4c3; */
    background-color: #F6F0F0;
}

body{
    display: flex;
    justify-content: space-between;
}
#container{
    width: 70%;
    font-family: 'Objectivity-Bold';
    color: #0567A8;
    font-size: 30px;
}
#introduction>button{
    height: 50px;
    width: 120px;
    font-family: 'Objectivity-Bold';
    font-size: 16px;
    color: #0567A8;
    border: none;
    background-color: #F6F0F0;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#introduction>button:hover{
    background-color: #60E3D5;
    color: #F6F0F0;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#introduction{
    margin-top: 200px;
    margin-bottom: 310px;
}
#introduction>div{
    margin-bottom: 30px;
}
#aboutme{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
#aboutme>img{
    border-radius: 15px;
    width: 37%;    
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#aboutme>#info{
    width: 55%;
}
#info>h2{
    font-size: 30px;
}
#info>div{
    font-size: 20px;
    font-family: 'PT Root UI Bold';
    line-height: 150%;
}
#info>div>p:first-child{
    margin-bottom: 23px;
}
#info>div>p{
    margin-bottom: 10px;
}
#info>div>button{
    height: 50px;
    width: 130px;
    font-family: 'Objectivity-Bold';
    font-size: 16px;
    color: #0567A8;
    border: none;
    background-color: #F6F0F0;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#info>div>button:hover{
    background-color: #60E3D5;
    color: #F6F0F0;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#myskills{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 95%;
    margin: auto;
    margin-top: 80px;
}
#myskills>div{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: #60E3D5;
    width: 70%;
    margin: auto;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#myskills>div:first-child{
    background-color: #F6F0F0;
    color: #0567A8 !important;
}
#myskills>div:hover{
    color: #F6F0F0;
}
#education{
    margin-top: 200px;
    width: 90%;
}
#education>div{
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
}
#education>div>*{
    background-color: #60E3D5;
    padding: 10px 20px;
}
#education>div>p:first-child{
    border-radius: 15px 15px 0px 0px;
    font-size: 20px;
}
#education>div>p:last-child{
    border-radius: 0px 0px 15px 15px;
}
#education>div>h3{
    color: #F6F0F0;
    font-size: 32px;
}
#education>div>h3+p{
    font-size: 20px;
}
#education>div>p+p{
    font-size: 16px;
}
#education{
    margin-bottom: 70px;
}
#projects{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
#education+h1{
    margin-bottom: 100px;
}
#projects>a{
    width: 45%;
    border-radius: 15px;
}
#projects>a>img{
    width: 100%;
    border-radius: 15px;
    height: 150px;
}
#projects>a:hover{
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#projects{
    margin-bottom: 250px;
}
#contactme>div{
    width: 95%;
    width: auto;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
#contactme>div>div{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #60E3D5;
    padding: 25px;
    border-radius: 15px;
}
#contactme>div>div>*{
    background-color: #60E3D5;
    margin-bottom: 10px;
}
#contactme>div>div>div:last-child{
    font-family: 'PT Root UI Light';
}
#contactme>div>form{
    border-radius: 15px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: #60E3D5;
    padding: 20px;
}
#contactme>div>form>*{
    margin-bottom: 10px;
    background-color: #60E3D5;
    border: none;
    height: 50px;
    padding: 10px;
    font-family: 'PT Root UI Light';
    font-size: 18px;
    border-bottom: 0.1rem solid #333;
}
#contactme>div>form>[type = "submit"]{
    width: 25%;
    border: 00.1rem solid #333;
    background-color: #F6F0F0;
    border-radius: 10px;
}
#contactme>div>form>[type = "text"]:nth-child(4){
    height: 100px;
}
#contactme>div>form>input:focus{
    border: none;
    outline: none;
    border-bottom: 0.1rem solid #0567A8;
}
/* important color: 8D4B55 */
/*
F6F0F0
F6F0F0
0567A8
*/