@import url('../font/font.css');

#sidebar{
    height: 730px;
    width: 25%;
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: #83C1F7 !important;
    text-align: center;
}
#sidebar>*{
    text-align: center;
    background-color: #83C1F7 !important;
}
#sidebar>a>div{
    font-size: 30px;
    text-align: center;
    color: #CC4752;
    font-family: 'PT Root UI Medium';
    margin-bottom: 20px;
    background-color: #83c1f7;
    transition: font-size 400ms;
}
#sidebar>h1+h1{
    color: #F6F0F0;
    margin-bottom: 50px;
}
#sidebar>h1{
    /* font-size: 42px; */
    font-family: 'Objectivity-Bold';
}
#sidebar>h1:first-child{
    color: #CC4752;
    padding-top: 20px;
    margin-bottom: 10px;
}
#sidebar>a>div:hover{
    font-size: 36px;
    color: #F6F0F0;
    cursor: pointer;
}
#sidebar>a{
    font-size: 30px;
    text-decoration: none;
    color: #CC4752;
    transition: font-size 400ms;
}
#sidebar>a:hover{
    font-size: 35px;
    color: #F6F0F0;
}
/* important color: 8D4B55 */