@import url('../font/font.css');

#sidebar{
    height: 730px;
    width: 25%;
    position: sticky;
    background-color: #979999 !important;
    color: white;
    text-align: center;
}
#sidebar>*{
    text-align: center;
    background-color: #979999 !important;
}
#sidebar>div{
    font-size: 30px;
    text-align: center;
    color: #8D4B55;
    font-family: 'PT Root UI Bold';
    margin-bottom: 20px;
}
#sidebar>h1+h1{
    margin-bottom: 50px;
}
#sidebar>h1{
    font-size: 42px;
    font-family: 'Objectivity-Bold';
}
#sidebar>h1:first-child{
    color: #8D4B55;
    padding-top: 20px;
    margin-bottom: 10px;
}
#sidebar>div:hover{
    font-size: 36px;
    color: white;
    cursor: pointer;
}
#sidebar>a{
    font-size: 30px;
    text-decoration: none;
    color: #8D4B55;
}
#sidebar>a:hover{
    font-size: 35px;
    color: white;
}
/* important color: 8D4B55 */